spring:
  application:
    name: product
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: yhs
    password: 123456
    url: jdbc:mysql://192.168.0.126/yhsTest?characterEncoding=UTF-8&useSSL=false
  jpa:
    show-sql: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
