eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
spring:
  application:
    name: order
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: yhs
    password: 123456
    url: jdbc:mysql://192.168.0.125:3306/yhsTest?characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true
  jpa:
    show-sql: true
server:
  port: 8081
